.zins1{
    display: flex;
    gap: 20px;
    margin-left: 260px;
    padding-top: 150px;
}

.zins2{
    display: flex;
    gap: 20px;
    margin-left: 260px;
    margin-top: 60px;
 
}
.hwe{
    padding-left: 650px;
    padding-top: 25px;
}
.hwe23{
    padding-left: 450px;
}
.ff77ww{
    padding-left: 130px;
}