.v11{
    background-image: url('../Assets/hero2.webp');
    background-repeat: no-repeat;
    background-size: 100%  500px;
    height: 450px;
   opacity: 0.9;  
}
.v111{
    padding-top: 50px;
}
.rest01{
    display: flex;
    padding-top: 50px;
}
.time{
    
    padding-left: 640px;
    padding-top: 100px;
}
.ttt11{

    padding-left: 460px;
}
.vsss{
    height: 600px;
    width: 560px;
   margin-left:250px ; 
   margin-top: 60px;   
}
.vss44{
    display: flex;
}
.vss77{
    padding-top: 140px;
    padding-left: 60px;
}
.ff2233{
    padding-left: 180px;
}
