.qe4{
    width: 670px;
    height: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 200px;
    margin-top: 80px;
    
}
.qdf{
    padding-left: 40px;
    padding-top: 30px;

}
.p45{
    display: flex;
}
.gggg2{
    padding-top: 30px;
    padding-left: 130px;
}
.nvghj{
    padding-left: 40px;
    padding-top: 30px;
}
.qqq44{
    padding-left: 320px;
    padding-top: 20px;
}
.oyts{
    padding-top: 40px;
    padding-left: 40px;
}
.loppp{
    width: 505px;
    height: 250px;
}
.mmm22{
    margin-top: 20px;
    margin-left: 50px;
    background-color: aliceblue;
    border-radius: 10px;
    border-style: solid;
    border-color: aqua;
}
.roppp{
    display: flex;
}
.nnqqss{
    padding-left: 60px;
    padding-top: 90px;
}